<form>
<label>Birth Date<input type="date" name="cats[birth_date]"></label>
<label>Name<input type="text" name="cats[name]"></label>
<label>Sex<input type="buttons" name="cats[sex]"></label>
<label>Description<input type="text" name="cats[description]"></label>
<label>Color<input type="color" name="cats[color]"></label>





</form>